[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyvista = "*"
uproot = "*"
awkward = "*"
rich = "*"

[dev-packages]
mypy = "*"
ipykernel = "*"

[requires]
python_version = "3.11"
python_full_version = "3.11.6"
